#root{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-content{
    background-color: #fff;
    padding: 2em;
    border-radius: 4px;
    max-width: 500px;
    max-height: 70vh;
    overflow-y: auto; 
}

.tabs{
    display: flex;
    gap: 2em;
    cursor: pointer;
}

.recipe-card-title{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: greenyellow;
}

.avatar-container{
    display: flex;
    flex-direction: row-reverse;
}

.dropdown-content{
    background-color: gray;
}
.dropdown-btn{
    padding: 20px;
}